* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 340px;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(-45deg, transparent 10%, #a8dadc 10% 20%, transparent 20% 80%, #a8dadc 80% 90%, transparent 90%);
  background-color: #e63946 ;
}


.app {
  width: 75%;
  max-width: 680px;
  margin: 0 20px;
  min-width: 320px;
  text-align: center;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.pomodoro__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 3.2rem;
  color: white;
}

/* timer */
.pomodoro__counter-wrapper {
  margin-bottom: 10px;
}

.pomodoro__timer {
  font-size: 2rem;
}

/* form and inputs */
.pomodoro__form {
  display: flex;
  margin-bottom: 20px;
}

.pomodoro__task {
  flex: 1;
  padding: 5px;
  font-size: 1rem;
  outline: 0;
  border: 0;
}

.pomodoro__add-btn {
  padding: 10px;
  /* margin-left: 10px; */
  border: 0;
  background-color: #457b9d;
  color: white;
  cursor: pointer;
}

.pomodoro__task-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.pomodoro__task-list button {
  padding: 10px;
  border: 0;
  background-color: #457b9d;
  color: white;
  cursor: pointer;
}

.pomodoro__task-list p {
  text-align: left;
  word-break: break-word;
  margin-left: 10px;
}

.pomodoro__task {
  display: flex;
  align-items: center;
  padding: 10px;
}

/*  dinamic classes using in JS */
.task__completed {
  text-decoration: line-through;
}

.btn__disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: #a1a1a1;
}


